<div className="col-xs-6">
    <h3 className="text-center">Basic Example</h3>
    <div className="well" style="max-height: 300px;overflow: auto;">
        <ul className="list-group checked-list-box">
          <li className="list-group-item" style="cursor: pointer;"><span className="state-icon glyphicon glyphicon-unchecked"></span>Cras justo odio<input type="checkbox" className="hidden"></li>
          <li className="list-group-item list-group-item-primary active" data-checked="true" style="cursor: pointer;"><span className="state-icon glyphicon glyphicon-check"></span>Dapibus ac facilisis in<input type="checkbox" className="hidden"></li>
          <li className="list-group-item" style="cursor: pointer;"><span className="state-icon glyphicon glyphicon-unchecked"></span>Morbi leo risus<input type="checkbox" className="hidden"></li>
          <li className="list-group-item" style="cursor: pointer;"><span className="state-icon glyphicon glyphicon-unchecked"></span>Porta ac consectetur ac<input type="checkbox" className="hidden"></li>
          <li className="list-group-item list-group-item-primary active" style="cursor: pointer;"><span className="state-icon glyphicon glyphicon-check"></span>Vestibulum at eros<input type="checkbox" className="hidden"></li>
          <li className="list-group-item" style="cursor: pointer;"><span className="state-icon glyphicon glyphicon-unchecked"></span>Cras justo odio<input type="checkbox" className="hidden"></li>
          <li className="list-group-item" style="cursor: pointer;"><span className="state-icon glyphicon glyphicon-unchecked"></span>Dapibus ac facilisis in<input type="checkbox" className="hidden"></li>
          <li className="list-group-item" style="cursor: pointer;"><span className="state-icon glyphicon glyphicon-unchecked"></span>Morbi leo risus<input type="checkbox" className="hidden"></li>
          <li className="list-group-item" style="cursor: pointer;"><span className="state-icon glyphicon glyphicon-unchecked"></span>Porta ac consectetur ac<input type="checkbox" className="hidden"></li>
          <li className="list-group-item" style="cursor: pointer;"><span className="state-icon glyphicon glyphicon-unchecked"></span>Vestibulum at eros<input type="checkbox" className="hidden"></li>
        </ul>
    </div>
</div>