<!DOCTYPE html>
<html lang="en"> 
  <head> 
      <title>Add to Group</title>     
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" media="screen" href="index.css">
      <link rel="stylesheet" href="css/bootstrap.css">
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    </head>
    <body>
     
            <section class="form-elegant">
                <!-- Grid row -->
                <div class="row">
              
                  <!-- Grid column -->
                  <div class="col-md-9 col-lg-7 col-xl-5">
              
                    <!--Form without header-->
                    <div class="card">
              
                      <div class="card-body mx-4">
              
                        <!--Header-->
                        <div class="text-left">
                          <h3 class="dark-grey-text mb-5"><strong>Add to Group</strong></h3>
                        </div>
                        <!--Body-->
                        <div class="container-fluid">
                        <div class="md-form pb-3">
                            <div class="form-group">
                                <label for="usr">Enter New Group Name:</label>
                                <input type="text" class="form-control">
                              </div>
                              <div class="alert alert-danger alert alert-dismissable">
                                  <strong>Incorrect Name!</strong>Try another name.
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-primary" type="button">
                                        ADD
                                       </button>
                                </div>
                              </br>
                                  
                        <p class="text-center">OR</p>
                      
                      <div class="form-group">
                          <label for="usr">Add to existing group:</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="alert alert-danger">
                            <strong>Name not found!</strong>The username cannot be found.
                          </div>
                          <div class="text-right">
                              <button class="btn btn-primary" type="button">
                                  SAVE
                                 </button>
                          </div>
                      </div>
                    </div>
                  </div>
                    <!--/Form without header-->
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->
              
              </section>

</body>
</html>